/* Box sizing */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Generales y variables*/

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

:root {
  --marron: #63421e;
  --marronClaro: #bca177;
  --beige: #d5ac8c; /* Textos */
  --gris: #222222;
  --blanco: #f0ebe7; /* Textos, más contraste */
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

/* Header */

.header-nav {
  background-color: var(--gris);
}

/* Main */

main {
  background-image: url(../images/main-up.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.main-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--blanco);
}

.main-card button {
  border-radius: 50px;
  display: inline-block;
  text-shadow: 0.1px 0.1px var(--marronClaro);
  background-color: var(--beige);
  color: var(--marron);
  border: none;
  box-shadow: 0px 1px 0px 0px #1c1b18;
}

.main-card button:hover {
  background-color: #b69479;
  transition: all 0.5s ease;
}

/* Productos */

/* Productos: título */

.productos-titulo {
  background-color: var(--gris);
}

.productos-titulo h2 {
  margin: 0;
  color: #f0ebe7;
  text-align: center;
}

/* Productos: cards */

.productos-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 400px);
}

.productos-card-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  background-color: black;
  color: var(--blanco);
}

.productos-card-info h3 {
  color: var(--beige);
  margin: 0;
}

.productos-grid button {
  background-color: transparent;
  border: 3px solid var(--beige);
  color: var(--beige);
  cursor: pointer;
  font-weight: 700;
}

.presentacion {
  color: var(--beige);
  font-weight: bold;
}

.productos-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

/* Productos: chocolates */

.productos-chocolates {
  grid-area: 4 / 1 / 5 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--beige);
  color: var(--marron);
}

.productos-chocolates-info h3 {
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.productos-chocolates-info button {
  border: 3px solid var(--marron);
  color: var(--marron);
  font-weight: bold;
}

.productos-chocolates-info-boton {
  display: flex;
  justify-content: center;
}

.productos-dulceSinAzucar-foto {
  grid-area: 2 / 2 / 3 / 3;
}

/* Características */

.caracteristicas {
  background-color: var(--gris);
}

.caracteristicas h2 {
  margin: 0;
  text-align: center;
  color: var(--blanco);
}

.caracteristicas-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  font-weight: bold;
  color: var(--blanco);
}

/* Formulario */

.formulario h2 {
  background-color: var(--gris);
  margin: 0;
  color: var(--blanco);
  text-align: center;
}

.formulario-container {
  background-image: url(../images/fondo-textura.jpg);
  background-size: cover;
}

.formulario-campos {
  display: flex;
  flex-direction: column;
  color: var(--marron);
  margin: auto;
}

.formulario-campos-campo {
  background-color: var(--marron);
  border: none;
  color: var(--blanco);
}

.formulario-campos-submit {
  background-color: transparent;
  color: var(--marron);
  font-weight: bold;
}

/* Media Queries */

@media (min-width: 220px) and (max-width: 940px) {
  /* Header */

  .header-nav {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }

  .header-nav-logo a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-nav-logo span {
    display: none;
  }

  .header-nav-logo img {
    max-width: 70px;
    padding: 0.3rem 0 0 0;
  }

  .header-nav-enlaces,
  .header-nav-enlaces-bloque {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.1 rem;
    gap: 0.3rem;
  }

  .header-nav-enlaces a {
    color: var(--beige);
    font-size: 0.9rem;
    font-weight: 400;
  }

  .enlaces-nombre {
    margin: 0.7rem 0 0.3rem 0;
    color: var(--beige);
    font-size: 1rem;
    font-weight: 700;
    background-color: transparent;
    border: none;
  }

  .header-nav-enlaces-bloque {
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
  }

  .header-nav-enlaces-bloque-activo {
    height: 6.3rem;
    padding: 0;
  }

  /* Main */

  main {
    /*     background-size: 100%; */
    background-position: top;
    min-height: 6rem;
  }

  .main-card {
    max-width: 40%;
    margin-top: 3.2rem;
    color: var(--blanco);
  }

  .main-card h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .main-card p,
  .main-card button {
    display: none;
  }

  /* Productos */

  /* Productos: título */

  .productos-titulo h2 {
    padding: 1rem;
    font-size: 1.2rem;
  }

  /* Productos: cards */

  .productos-grid {
    display: flex;
    flex-direction: column;
  }

  .productos-foto img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
  }

  .productos-foto {
    background-color: black;
  }

  .productos-card-info {
    justify-content: left;
    line-height: 1.5rem;
    padding: 1.2rem;
  }

  .productos-card-info h3 {
    font-size: 1.4rem;
  }

  .productos-grid button {
    font-weight: 700;
  }

  .productos-descripcion {
    display: none;
  }

  .presentacion {
    font-size: 0.8rem;
    color: var(--blanco);
    font-weight: 400;
  }

  .productos-grid button {
    font-size: 0.8rem;
    padding: 7px 10px;
  }

  /* Productos: Alfajores de maicena */

  .productos-chocolates {
    display: flex;
    flex-direction: column;
    /*    align-items: left;
    justify-content: left; */
  }
  .productos-chocolates {
    padding: 1.2rem;
    gap: 1rem;
  }

  .productos-chocolates-info h3 {
    font-size: 1.4rem;
  }

  .productos-chocolates-info-descripcion {
    display: none;
  }

  .productos-chocolates-info-presentacion {
    font-weight: 400;
    font-size: 0.8rem;
  }

  .productos-chocolates-info button {
    font-size: 0.8rem;
    margin: 0.5rem;
  }

  .productos-chocolates img {
    max-width: 350px;
    height: auto;
    box-shadow: 3px 3px 5px 0px var(--marron);
  }

  /* Caracteristicas */

  .caracteristicas h2 {
    padding: 1rem;
    font-size: 1.2rem;
  }

  .caracteristicas-container {
    padding-bottom: 1rem;
    gap: 1rem;
  }

  .caracteristicas-icono {
    min-width: 70px;
    max-width: 70px;
  }

  .caracteristicas-descripcion {
    display: none;
  }

  /* Formulario */

  .formulario h2 {
    padding-top: 1.7rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
  }

  .formulario-container {
    display: flex;
  }

  .formulario-img {
    display: none;
  }

  .formulario-campos {
    padding: 1.5rem;
  }

  .formulario-campos-campo {
    border-radius: 3px;
    padding: 0.3rem;
  }

  .formulario-campos label {
    margin-top: 1rem;
    font-size: 0.9rem;
  }

  .formulario-campos p {
    font-weight: 700;
    margin: 0;
    font-size: 1rem;
  }

  .formulario-campos-submit {
    max-width: 150px;
    margin: 1.5rem auto 0 auto;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    border: 2px solid var(--marron);
    border-radius: 2px;
  }
}

@media (min-width: 941px) and (max-width: 1300px) {
  /* Header */

  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;
    position: fixed;
    top: 0;
    min-width: 100%;
  }

  .header-nav-logo img {
    display: flex;
    flex-direction: row;
    align-content: center;
    max-width: 60px;
  }

  .header-nav-logo a {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header-nav-logo span {
    font-weight: 400;
    padding: 1rem;
  }

  .header-nav-enlaces-bloque {
    display: flex;
    gap: 1.5rem;
    padding-right: 1rem;
  }

  .header-nav a {
    color: var(--beige);
    font-size: 1.2rem;
    font-weight: 400;
  }

  .enlaces-nombre {
    display: none;
  }

  /* Main */

  main {
    margin-top: 5rem;
    min-height: 30rem;
  }

  .main-card {
    max-width: 40%;
    margin-top: 7.5rem;
    font-size: 1.2rem;
  }

  .main-card button {
    margin-top: 1rem;
    cursor: pointer;
    padding: 0.8rem 2rem;
    font-weight: 700;
    font-size: 1.1rem;
  }

  /* Productos */

  /* Productos: título */

  .productos-titulo h2 {
    padding: 0.6rem;
    font-size: 1.3rem;
  }

  /* Productos: cards */

  .productos-card-info {
    line-height: 2.5rem;
  }

  .productos-card-info-centrar {
    max-width: 90%;
  }

  .productos-card-info h3 {
    font-size: 1.8rem;
  }

  .productos-descripcion {
    font-size: 1rem;
    font-weight: 400;
  }

  .presentacion {
    font-size: 1rem;
  }

  .productos-dulceSinAzucar-info {
    text-align: right;
  }

  .productos-grid button {
    font-size: 1rem;
    padding: 10px 20px;
    margin: 0.7rem;
  }

  /* Productos: Chocolates */

  .productos-chocolates {
    gap: 3rem;
    padding: 2rem 4rem;
  }

  .productos-chocolates-info h3 {
    font-size: 1.7rem;
  }

  .productos-chocolates-info-descripcion {
    font-size: 1.1rem;
  }

  .productos-chocolates-info-presentacion {
    font-weight: bold;
    font-size: 1.2rem;
  }

  .productos-chocolates-info button {
    font-size: 1rem;
    padding: 10px 20px;
    margin: 0.7rem;
  }

  .productos-chocolates img {
    width: 350px;
    height: auto;
    box-shadow: 3px 3px 5px 0px var(--marron);
  }

  /* Caracteristicas */

  .caracteristicas h2 {
    padding: 1.2rem;
    font-size: 1.4rem;
  }

  .caracteristicas-container {
    padding: 0.5rem;
    font-size: 1rem;
    gap: 3rem;
  }

  .caracteristicas-container-individual {
    min-width: 170px;
  }

  .caracteristicas-icono {
    max-width: 120px;
    min-width: 120px;
  }

  /* Formulario */

  .formulario h2 {
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    font-size: 1.4rem;
  }

  .formulario-container {
    display: flex;
  }

  .formulario-img {
    max-height: 500px;
  }

  .formulario-campos-campo {
    border-radius: 2px;
    padding: 0.7rem;
  }

  .formulario-campos {
    padding: 2rem;
  }

  .formulario-campos label {
    margin-top: 1rem;
    font-size: 1rem;
  }

  .formulario-campos p {
    font-weight: 700;
    margin: 0;
    font-size: 1.2rem;
  }

  .formulario-campos-submit {
    margin: 1.5rem auto 0 auto;
    cursor: pointer;
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    border: 3px solid var(--marron);
    border-radius: 2px;
  }
}

@media (min-width: 1301px) {
  /* Header */

  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    position: fixed;
    top: 0;
    min-width: 100%;
  }

  .header-nav-logo img {
    display: flex;
    flex-direction: row;
    align-content: center;
    max-width: 70px;
  }

  .header-nav-logo a {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header-nav-logo .logo-nombre {
    font-weight: 400;
    padding: 1rem;
    font-weight: 400;
  }

  .header-nav-enlaces-bloque {
    display: flex;
    gap: 3rem;
    padding-right: 1rem;
  }

  .header-nav a {
    color: var(--beige);
    font-size: 1.3rem;
    font-weight: 400;
  }

  .enlaces-nombre {
    display: none;
  }

  /* Main */

  main {
    margin-top: 4.9rem;
    min-height: 30rem;
  }

  .main-card {
    max-width: 30%;
    margin-top: 7.5rem;
    font-size: 1.2rem;
  }

  .main-card button {
    margin-top: 2rem;
    cursor: pointer;
    padding: 1rem 2rem;
    font-weight: 700;
    font-size: 1.2rem;
  }

  /* Productos */

  /* Productos: título */

  .productos-titulo h2 {
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  /* Productos: cards */

  .productos-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 463px);
  }

  .productos-card-info {
    font-weight: 400;
    line-height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .productos-card-info-centrar {
    max-width: 75%;
  }

  .productos-card-info h3 {
    font-size: 2rem;
  }

  .productos-grid button {
    cursor: pointer;
    font-weight: 700;
  }

  .productos-descripcion {
    font-size: 1.3rem;
    font-weight: 200;
  }

  .presentacion {
    font-size: 1.2rem;
  }

  .productos-dulceSinAzucar-info {
    text-align: right;
  }

  .productos-grid button {
    font-size: 1.1rem;
    padding: 10px 20px;
  }

  /* Productos: Alfajores de maicena */

  .productos-chocolates {
    gap: 7rem;
    padding: 2rem 10rem;
  }

  .productos-chocolates-info {
    max-width: 50%;
  }

  .productos-chocolates-info h3 {
    font-size: 2rem;
  }

  .productos-chocolates-info-descripcion {
    font-size: 1.3rem;
  }

  .productos-chocolates-info-presentacion {
    font-weight: bold;
    font-size: 1.2rem;
  }

  .productos-chocolates-info button {
    font-size: 1.2rem;
    margin: 1.5rem;
  }

  .productos-chocolates img {
    width: 400px;
    height: auto;
    box-shadow: 3px 3px 5px 0px var(--marron);
  }

  .productos-dulceSinAzucar-foto {
    grid-area: 2 / 2 / 3 / 3;
  }

  /* Caracteristicas */

  .caracteristicas h2 {
    padding: 1.5rem;
    font-size: 1.7rem;
  }

  .caracteristicas-container {
    padding: 1rem;
    font-size: 1.2rem;
    gap: 5rem;
  }

  .caracteristicas-container-individual {
    max-width: 150px;
  }

  .caracteristicas-icono {
    max-width: 150px;
    min-width: 150px;
  }

  /* Formulario */

  .formulario h2 {
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 1.7rem;
  }

  .formulario-container {
    display: flex;
  }

  .formulario-img {
    max-height: 630px;
  }

  .formulario-campos {
    padding: 2rem;
  }

  .formulario-campos-campo {
    border-radius: 5px;
    padding: 0.5rem;
  }

  .formulario-campos label {
    margin-top: 2rem;
    font-size: 1.2rem;
  }

  .formulario-campos p {
    font-weight: 700;
    margin: 0;
    font-size: 1.5rem;
  }

  .formulario-campos-submit {
    max-width: 150px;
    margin: 3rem auto 0 auto;
    cursor: pointer;
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    border: 3px solid var(--marron);
    border-radius: 3px;
  }
}
